@charset "utf-8";
/* CSS Document */
.header-icon{
    float: left;
    margin-left: 10%;
    height:65px;
    width:100px;
}
.header{
    margin-top: 10px;
    padding-top: 18px;
    text-align: left;
}

.slider{
	width: 50%;
	margin: auto;
	margin-top: 50px;
	overflow: hidden;
	border-width: 5%;
	border-color: rgba(5,55,108,1);
        padding-bottom: 70px;
}

.slider ul{
	display: flex;
	padding: 0px;
	width: 200%;
	animation: cambio 6s infinite alternate ease-in;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%
}

@keyframes cambio{
	0% { margin-left: 0; }
	45%{ margin-left: 0; }
	55%{ margin-left: -100% }
	100%{ margin-left: -100% }
}